.floatLeftCard {
    float: left;
    margin-right: 15px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.overFlowText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
